@{
    ViewData["Title"] = "Контакты";
}
@section Styles {
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}


<div class="mainfoto">
    <img src="~/images/main.jpg" class="mainlogo"/>
</div>


<div class="container">
    <div class="row">
        <div class="cols col-9" id="maininfo">
            <h1>Контакты</h1>
            <h3><strong>Крафт Ауфцюге Украина</strong></h3>
            <p><strong>Телефоны:</strong> +38 (044) 227 05 32</p>
            <p><strong>Факс:</strong> +38 (044) 227 05 32</p>
            <p><strong>Режим работы:</strong> с 8-00 до 17-30</p>
            <br />
            <span><strong>E-mail: </strong></span><span class="email">sales@kraft-aufzuege.com</span>
            <br />
            <p><strong>Адрес:</strong> Дарницкий бульвар 8в, офис 190, 02192 Киев, Украина</p>
            <br />
            <p>
                Если Вам необходима дополнительная информация, мы с удовольствием ответим на все Ваши
                вопросы.
            </p>
            <br />
            <div class="google-maps">
                @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1068.213637677685!2d30.499737966122286!3d50.44753551921239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce57880b1f2d%3A0x80816e94c3918e46!2z0YPQuy4g0JHQvtCz0LTQsNC90LAg0KXQvNC10LvRjNC90LjRhtC60L7Qs9C-LCA1MdCRLCDQmtC40LXQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1540319310835" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>*@
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.7170697999577!2d30.607271815731828!3d50.4649930794773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4d01daf02596f%3A0x1fbbe70b8f2a446d!2z0JTQsNGA0L3QuNGG0LrQuNC5INCx0YPQuy4sIDjQkiwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1544994083231" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
            <aside>
                <div class="cols col-3">
                    <h3>Контакты</h3>
                    <div class="content">
                        <h3>По всем вопросам</h3>
                        <h3>Т: +38 (044) 227-05-32</h3>
                        <h4 class="email">sales@kraft-aufzuege.com</h4>
                        <br />
                        <h4><strong>Круглосуточный сервис</strong></h4>
                        <h4 class="email">sales@kraft-aufzuege.com</h4>
                    </div>
                    <div class="footer">
                        <h3>В этом разделе</h3>
                        <ul>
                            <li><a href="#"> Центральный офис</a></li>
                            <li><a href="#"> Напишите нам</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
</div>