
@{
ViewData["Title"] = "Evolution300";
}

<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">            
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement">
                                <h2>
                                    evolution 300<br>
                                    Производительность и дизайн для самых высоких
                                    требований.
                                </h2>
                            </div>
                            <div class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/shared/page-main-photos/evolution_300.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h3>
                                    Благодаря инновационному дизайну и передовым технологиям, Evolution 300
                                    является законодателем моды. Область применения простирается от
                                    апартаментов, отелей и офисов до медицинских учреждений, аэропортов и
                                    торговых центров.
                                </h3>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-3">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <h2 class="small">100 m</h2>
                                            <p>Высота подъёма</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8">
                                        <div class="csc-default">
                                            <h2 class="small">2,5 m/s</h2>
                                            <p>Максимальная скорость</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h2 class="small">4.000 kg</h2>
                                            <p>
                                                Максимальная грузоподъёмность
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox b_container-highlightbox-inverse">
                                    <div class="b_highlightbox-star"></div>
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-3">
                                                <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">Подходит с точностью до миллиметра</h2>
                                                        <p>
                                                            Независимо от того, устанавливаете ли
                                                            вы новый лифт или модернизируете
                                                            существующий, лифт evolution 300
                                                            идеально подойдёт для шахты вашего
                                                            здания - вплоть до миллиметра.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8">
                                                    <div class="csc-default">
                                                        <h2 class="small">Огромный спектр применения</h2>
                                                        <p>
                                                            Технологический диапазон Evolution
                                                            300 огромен. Он варьируется от одного
                                                            лифта 450 кг до лифтовой группы с
                                                            интеллектуальным управлением
                                                            выбора цели из восьми лифтов с
                                                            грузоподъемностью до 4000 кг каждая.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">Настоящее разнообразие дизайна</h2>
                                                        <p>
                                                            Модульная конструкция предлагает 66
                                                            стандартных конструкций кабины - или
                                                            вы можете комбинировать все цвета и
                                                            материалы, предоставляя вам сотни
                                                            способов персонализировать ваш лифт.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="panel-group b_collapsible bJS_collapsible" id="bJS_collapsible-90356">
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-7">Инновации будущего уже сегодня<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-7">
                                            <h4 class="b_collapsible-headline">
                                                Новейшие технологии и технические инновации следующего поколения в лифте evolution 300 гарантируют
                                                превосходную функциональность. Другие причины инвестировать в будущее? Надёжные, современные
                                                компоненты и высокая работоспособность лифтового оборудования.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-1">До 69% более эффективного использования пространства<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-1">
                                            <h4 class="b_collapsible-headline">
                                                Рациональная, компактная, тщательно продуманная конструкция (в т.ч. значительно уменьшенные оголовок
                                                и приямок шахты лифта) - гарантия легкости в планировании и монтаже.
                                                Эффективное использование пространства шахты в зданиях любого назначения, с точностью до
                                                миллиметра.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-2">Эко / высокоскоростной режим<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-2">
                                            <h4 class="b_collapsible-headline">
                                                Для экономии энергии интеллектуальное управление энергией автоматически приспосабливает скорость
                                                подъема и время открытия двери к потоку пассажиров.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-3">Непревзойденное качество и превосходный комфорт поездки<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-3">
                                            <h4>
                                                Немецкий дизайн и производство включают в себя передовые технологии и высококачественные материалы
                                                для большей надежности оборудования и комфортной поездки пассажиров в лифте.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-4">Оптимальная доступность<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-4">
                                            <p>
                                                Соответствие нормам EN 81-70 и яркий интерьер кабины лифта обеспечивают оптимальную доступность для
                                                людей с ограниченными возможностями.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-5">Снижение общих затрат собственника лифта<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-5">
                                            <p>
                                                Эффективное использование пространства шахты и более длительный срок службы компонентов лифта
                                                обеспечивают снижение затрат собственника.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-6">Бесшумная работа<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-6">
                                            <p>
                                                Наша современная система управления сокращает шумы от работы лифта, делая его тише, чем шепот в
                                                соседней комнате.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Дизайн</h2>
                                <p>
                                    Доступные линии дизайна A, B и C предлагают в общей сложности 66 конфигураций дизайнов кабины. С Evolution 300 вы
                                    также можете комбинировать все доступные материалы и цвета, как вам нравится, и получить сотни возможностей для
                                    создания Вашего индивидуального лифта.
                                </p>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox">
                                    <div class="b_highlightbox-star"></div>
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Конфигуратор-онлайн линия дизайна А</h3>
                                                        <p>
                                                            Эксклюзивность и элегантность характеризуют 24 готовых дизайна салона дизайнерской
                                                            линии A. Стильные стеклянные панели и структурные поверхности создают
                                                            индивидуальную атмосферу.
                                                        </p>
                                                        <p><a class="external-link-new-window" href="http://a-design-evolution.thyssenkrupp-elevator.com/" target="_blank">Создайте свою кабину в дизайнере линии А прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/shared/design-lines/design-line-A.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Конфигуратор-онлайн линия дизайна B</h3>
                                                        <p>
                                                            Поверхности из нержавеющей стали и высококачественные ламинаты определяют
                                                            сочетание материалов в 31 заранее заданном дизайне кабины линии дизайна B. Здесь вы
                                                            найдете вариант для любого применения.
                                                        </p>
                                                        <p><a class="external-link-new-window" href="http://b-design-evolution.thyssenkrupp-elevator.com/" target="_blank">Создайте свою кабину в дизайнере линии B прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/shared/design-lines/design-line-B.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Линия дизайна C</h3>
                                                        <p>
                                                            Линия дизайна C предлагает 11 предварительно сконфигурированных стандартных кабин.
                                                            Выбирайте между нержавеющей стали, прочных ламинатов или стального листа с порошковым
                                                            покрытием для "тяжелых" условий.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/shared/design-lines/design-line-C.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/shared/info-area/elevator_planning.gif">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">evolution 300 инструмент</h3>
                                            <p>
                                                С нашим инструментом цифрового планирования вы найдете удобные размеры шахты для
                                                желаемого размера кабины - или уместную кабину для вашего шахты. С помощью инструмента
                                                черчения вы можете экспортировать CAD-планы, 3D-модели и BIM-объекты.
                                            </p>
                                            <p><a class="external-link-new-window" href="http://eplanning.thyssenkrupp-elevator.com/" target="_blank">Запроектируйте свой Evolution 300 с шахтой прямой сейчас!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/shared/info-area/contact.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">Свяжитесь с консультантом по продажам в вашем регионе</h3>
                                            <p>
                                                Мы также предлагаем комплексные услуги поддержки для частных клиентов, компаний и
                                                государственного сектора. Благодаря нашему многолетнему опыту в области лифтовых
                                                технологий, вы можете положиться на наш опыт.
                                            </p>
                                            <p><a target="_blank" class="internal-link" href="@Url.Action("Contact", "Home")">Свяжитесь с консультантом по продажам в вашем регионе сейчас!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <div class="subNavHeading">
                    В этом разделе
                </div>
                <ul class="subNav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy100">Synergy® 100</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy200">Synergy® 200</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy300">Synergy® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Sonic">Sonic®</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Twin">TWIN®</a>
                    </li>
                </ul>
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default">
                        <div class="b_container-infobox">
                            <h5>Загрузки</h5>
                            <div class="csc-default b_is-firstElement">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/shared/downloads/cover.jpg">
                                    <p><a class="b_icon b_icon-download" target="_blank" href="~/files/evolution300/broschuere.pdf">Брошюра Evolution 300</a></p>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/shared/downloads/designbook.jpg">
                                    <p><a class="b_icon b_icon-download" target="_blank" href="~/files/synergy300/BU_EA_Designbook.pdf">Каталог дизайнов кабин</a></p>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_linklist">
                                    <h6>
                                        Вы хотели бы узнать больше о Evolution 300?
                                        Обратитесь к консультанту по продажам
                                    </h6>
                                    <ul class="b_iconList">
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#top"></a>
                </div>
            </div>
        </div>
    </div>
</main>
