
@{
    ViewData["Title"] = "H100";
}

<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement">
                                <h2>
                                    Домашний лифт H100
                                </h2>
                            </div>
                            <div class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/h100/h100_main.png">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <div class="csc-default">
                                <h2>Ваш индивидуально разработанный H100</h2>
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                        <div class="csc-default">
                                            <p>
                                                Thyssenkrupp Homelifts предлагает уникальное и элегантное сочетание немецкой
                                                инженерии и итальянского дизайна.
                                                <br>
                                                <br>
                                                С помощью точного инжиниринга ведущей в отрасли лифтовой компании вы
                                                можете доверять H100 в обеспечении безопасного, высококачественного и
                                                индивидуального решения для вашего дома.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/h100/h100_outside.png">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>
                                    Максимальное использование пространства.
                                    Минимальная занимаемая площадь
                                </h2>
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                        <div class="csc-default">
                                            <p>
                                                Важно эффективно использовать доступное пространство. Для
                                                оптимизированного Homelift H100 требуется углубление в полу всего 50 мм, а
                                                высота всего 2430 мм. Это позволяет устанавливать лифт в небольших
                                                помещениях, не ограничивая пространство в кабине или размер дверей.
                                                Кроме того, H100 спроектирован так, что не требуется машинное помещение, и
                                                что позволяет использовать дополнительное пространство.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/h100/h100_cabin.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Безопасность наше кредо</h2>
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/h100/h100_family.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <p>
                                                Электроника платформы вертикального перемещения H100 сертифицирована
                                                по уровню SIL3 и обеспечивает непревзойденный для данного типа устройств
                                                уровень безопасности. Платформы вертикального перемещения thyssenkrupp
                                                также оснащены автономной системой безопасности, на которую не могут
                                                повлиять никакие механические неисправности. Ваша безопасность – наш
                                                приоритет.
                                                <br>
                                                <br>
                                                При отключении электричества H100 будет продолжать работать от аккумулятора,
                                                что позволяет пользователю безопасно добраться до первого этажа. Также
                                                возможно подключить системы пожарной сигнализации к основной электронной
                                                плате платформы.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Комфорт</h2>
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                        <div class="csc-default">
                                            <p>
                                                Передвижение между этажами в вашем доме не должно быть затруднено или
                                                неудобно. В соответствии со стандартом, все платформы вертикального
                                                перемещения thyssenkrupp оснащены технологией «мягкий старт/стоп».
                                                Каждая платформа оборудована поручнями и кнопками старта, что делает
                                                поездку простой и безопасной.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/h100/h100_inside.png">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="csc-default">
                                <h2>H100 Homelift - технические данные</h2>
                                <div class="info">
                                    <table>
                                        <tbody>
                                            <tr class="head"><th style="width: 40%;">Технические нормы</th><th colspan="2">Европейская директива о машинах и механизмах 2006,42-ЕС Европейский стандарт EN 81-41</th></tr>
                                            <tr>
                                                <td>Система привода</td>
                                                <td colspan="4">"Винт-гайка"</td>
                                            </tr>
                                            <tr>
                                                <td>Номинальная скорость</td>
                                                <td>Mакс. 0,15 м/сек.</td>
                                            </tr>
                                            <tr>
                                                <td>Номинальная грузоподъемность</td>
                                                <td>250 - 400 kg</td>
                                            </tr>
                                            <tr>
                                                <td>Высота подъёмак</td>
                                                <td>1400 - 12000 мм</td>
                                            </tr>
                                            <tr>
                                                <td>Число остановок</td>
                                                <td colspan="4">Mакс. 6</td>
                                            </tr>
                                            <tr>
                                                <td>Число дверей</td>
                                                <td colspan="4">Mакс. 12</td>
                                            </tr>
                                            <tr>
                                                <td>Глубина приямка</td>
                                                <td colspan="4">50 мм</td>
                                            </tr>
                                            <tr>
                                                <td>Высота верхнего этажа</td>
                                                <td colspan="4">Стандартно 2430 мм</td>
                                            </tr>
                                            <tr>
                                                <td>Тип управления</td>
                                                <td colspan="4">Движение при удержании кнопки вызова этажа</td>
                                            </tr>
                                            <tr>
                                                <td>Аварийная эвакуация</td>
                                                <td colspan="4">Аварийное опускание за счет аккумулятора</td>
                                            </tr>
                                            <tr>
                                                <td>Управляющее напряжение</td>
                                                <td colspan="4">24V</td>
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <div class="subNavHeading">
                    В этом разделе
                </div>
                <ul class="subNav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="H300">H300</a>
                    </li>
                </ul>
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default">
                        <div class="b_container-infobox">
                            <h5>Сертификация ISO</h5>
                            <br>
                            <div class="csc-default b_is-firstElement">
                                <img class="b_image" src="~/images/shared/iso-thuringen.png">
                            </div>
                            <br>
                            <h5>Брошюры</h5>
                            <div class="csc-default">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/h100/h100_cover.png">
                                    <p><a class="b_icon b_icon-download" target="_blank" href="~/files/h100/h100_Brochure_Ru.pdf">Платформы H100</a></p>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_linklist">
                                    <h6>
                                        Вы хотели бы узнать больше о H100?
                                        Обратитесь к консультанту по продажам
                                    </h6>
                                    <ul class="b_iconList">
                                        <li>
                                            <a asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#top"></a>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .info {
        margin: 0 0 1.875em;
        padding: 0.5em 0 1em;
    }

    .info table {
        width: 100%;
        margin: -2px 0 0;
        color: #4b5564;
        border-collapse: collapse;
        border-top: 2px solid #08a0f0;
        border-bottom: 2px solid #08a0f0;
    }

    .info tr {
        border-bottom: 2px solid #d9dee8;
        text-align: left;
    }

        .info tr.head {
            color: #00a0f0;
            border-top: 2px solid #08a0f0 !important;
            border-bottom: 2px solid #08a0f0 !important;
            text-align: left;
        }

    .info table tr:last-child {
        border: 0;
    }

    .info td {
        padding: 0.725em 1em;
        text-align: center;
        font: normal 0.875em/1.325em Arial,Verdana,sans-serif;
        vertical-align: top;
        border-right: 1px solid #d9dee8;
    }

    .info table td:first-child {
        text-align: left !important;
        border-left: 1px solid #d9dee8;
    }

    .info th {
        border-right: 1px solid #d9dee8;
        padding: 1em;
        text-align: center;
    }

    .info table th:first-child {
        border-left: 1px solid #d9dee8;
        text-align: left !important;
    }
</style>
