@{
    ViewData["Title"] = "Planning";
}

    <main id="b_mainContent" role="main">
        <div class="container b_container-mainContent">
            <div class="row">
                <div class="col-md-24 col-xs-24">
                    <div class="b_content b_content-mainContent">
                        <div class="row b_row-content">
                            <div class="col-xs-24">
                                <div class="csc-default b_is-firstElement">
                                    <h1>Практические инструменты</h1>
                                    <p>От дизайнеров кабины до планирования проекта эскалатора - здесь вы найдете практические инструменты, которые помогут вам в планировании.</p>
                                </div>
                                <div class="csc-default">
                                    <h2>Конфигуратор кабин</h2>
                                    <p>С помощью дизайнеров кабины вы можете настроить желаемую кабину.</p>
                                </div>
                                <div class="csc-default">
                                    <div class="row imageTeaserGroup">
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="http://a-design-synergy.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_A.jpg" width="420" height="360" alt="Линия дизайна A" title="Линия дизайна A" />
                                                    <div class="imageTeaserTitle">Линия дизайна A</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="http://b-design-synergy.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_B.jpg" width="420" height="360" alt="Линия дизайна B" title="Линия дизайна B" />
                                                    <div class="imageTeaserTitle">Линия дизайна B</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://c-design-evolution.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_C.jpg" width="420" height="360" alt="Линия дизайна C" title="Линия дизайна C" />
                                                    <div class="imageTeaserTitle">Линия дизайна C</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="http://d-design-synergy.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_D.jpg" width="420" height="360" alt="Линия дизайна D" title="Линия дизайна D" />
                                                    <div class="imageTeaserTitle">Линия дизайна D</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="http://e-design-synergy.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_E.jpg" width="420" height="360" alt="Линия дизайна E" title="Линия дизайна E" />
                                                    <div class="imageTeaserTitle">Линия дизайна E</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://f-design-synergy.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/cabine-designer_F.jpg" width="420" height="360" alt="Линия дизайна F" title="Линия дизайна F" />
                                                    <div class="imageTeaserTitle">Линия дизайна F</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2>Конфигуратор домашнего лифта</h2>
                                </div>
                                <div class="csc-default">
                                    <div class="row imageTeaserGroup">
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://configurator.thyssenkrupp-homelift.com/?n=2&s=1&t=1&l=1&cg=4&o=0&w=7&e=0&cr=1&sf=0&iA=5&zA=0&iB=0&zB=0&iC=5&zC=0&d0=b&h0=3000&jA0=#9A9697&jB0=#9A9697&jC0=#9A9697&d1=b&h1=3000&jA1=#9A9697&jB1=#9A9697&jC1=#9A9697&d2=b&h2=3000&jA2=#9A9697&jB2=#9A9697&jC2=#9A9697&d3=b&h3=3000&jA3=#9A9697&jB3=#9A9697&jC3=#9A9697&d4=b&h4=3000&jA4=#9A9697&jB4=#9A9697&jC4=#9A9697&d5=b&h5=3000&jA5=#9A9697&jB5=#9A9697&jC5=#9A9697&hh=1300&gA=0&kA=0&gB=0&kB=0&gC=0&kC=0&gG=0&kG=0&da=1&db=1&dc=1&y=0" target="_blank">
                                                    <img src="~/images/h100/h100_inside.png" width="420" height="360" alt="Конфигуратор домашнего лифта" title="Конфигуратор домашнего лифта" />
                                                    <div class="imageTeaserTitle">thyssenkrupp homelift</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="c90858" class="csc-default">
                                    <h2>Инструменты планирования</h2>
                                    <p>
                                        Найдите правильные размеры шахты для желаемого размера кабины для всех продуктов семейства Synergy и Evolution или подходящую кабину для вашей шахты.
                                    </p>
                                </div>
                                <div class="csc-default">
                                    <div class="row imageTeaserGroup">
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://plan-synergy200.thyssenkrupp-elevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/synergy_planning.jpg" width="420" height="360" alt="Инструмент планирования для семьи Synergy" title="Инструмент планирования для семьи Synergy" />
                                                    <div class="imageTeaserTitle">Инструмент планирования для семьи Synergy</div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://plan-evolution.tkelevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/evolution_planning.jpg" width="420" height="360" alt="Инструмент планирования для семьи Evolution" title="Инструмент планирования для семьи Evolution" />
                                                    <div class="imageTeaserTitle">Инструмент планирования для семьи Evolution</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="csc-default">
                                    <h2>Инструменты для эскалаторов и травалаторов</h2>
                                    <p>С конфигуратором eSlider Вы получаете полный спектр подбора эскалаторов или травалаторов в соответствии с вашим проектом.</p>
                                </div>
                                <div class="csc-default">
                                    <div class="row imageTeaserGroup">
                                        <div class="col-xs-24 col-sm-12 col-md-8">
                                            <div class="imageTeaser">
                                                <a href="https://eslider.tkelevator.com/" target="_blank">
                                                    <img src="~/images/shared/design-planning/escalator_eslider.jpg" width="420" height="360" alt="thyssenkrupp eSlider" title="thyssenkrupp eSlider" />
                                                    <div class="imageTeaserTitle">thyssenkrupp eSlider</div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-24 hidden-print hidden-xs">
                    <div class="b_toTop"><a href="index.html#top" class="b_link-black"></a></div>
                </div>
            </div>
        </div>
    </main>
