
@{
    ViewData["Title"] = "Rebranding";
}

<main id="b_mainContent" role="main">
    <img src="~/images/rebranding/tke_logo.jpg" alt="TKE logo" style="width: 100%;
  height: auto;" />
    <div class="container b_container-mainContent">
        <div class="row">
            <div class="col-md-24 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default">
                                <h2 style="text-align:center;">thyssenkrupp Elevator теперь называется TK Elevator</h2>
                                <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                    Лифтовое подразделение Thyssenkrupp теперь является независимой группой компаний. В начале новой эры
                                    есть также новый внешний вид. thyssenkrupp есть и останется частью истории TK Elevator, но с TK Elevator и
                                    связанным с ним брендом TKE пишется совершенно новая глава.
                                </p>
                            </div>
                                <img style="display: block;
    margin: 0 auto;width: 100%; max-width: 400px; height: auto;" src="~/images/rebranding/tke_small_logo.png" />
                            <div class="csc-default">
                                <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                    Девиз бренда MOVE BEYOND означает наше обещание обогатить продуктами и услугами жизнь людей в
                                    мире, который постоянно находится в движении, и сделать ее проще. Мы переосмысливаем мобильность и
                                    развиваемся во всех направлениях - вверх и вперед - с решениями и платформами, которые отражают
                                    постоянные изменения в нашей жизни.
                                </p>
                            </div>
                            <div class="csc-default">
                                <div class="row imageTeaserGroup">
                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                        <div class="imageTeaser">
                                            <a href="https://newbrand.tkelevator.com/" target="_blank">
                                                <img src="~/images/rebranding/rebranding_1.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                        <div class="imageTeaser">
                                            <a href="https://newbrand.tkelevator.com/" target="_blank">
                                                <img src="~/images/rebranding/rebranding_2.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-12 col-md-8">
                                        <div class="imageTeaser">
                                            <a href="https://newbrand.tkelevator.com/" target="_blank">
                                                <img src="~/images/rebranding/rebranding_3.jpg" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <p style="text-align:center; padding:20px 50px 20px 50px;font-size: 20px;">
                                    В качестве наших продуктов и услуг, в высоком уровне приверженности наших сотрудников, в наших
                                    принципах и ценностях и, особенно, в любви к нашим клиентам, мы остаемся надежными и
                                    заслуживающими доверия. Познакомьтесь с нами через наш новый бренд TKE!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 