@{
    ViewData["Title"] = "Сервис";
}

<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement" id="c75754">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/service/service.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c75759">
                                <h1>Всегда рядом: Ваш сервисный партнер</h1>
                            </div>
                            <div class="csc-default" id="c75751">
                                <h3 style="color: rgb(120, 135, 155)"></h3>
                                <p style="box-sizing: border-box; padding: 0px; color: rgb(75, 85, 100);">
                                    Мы предоставляем услуги опытных, высококвалифицированных специалистов в области монтажа, наладки, ремонта и технического
                                    обслуживания лифтового и эскалаторного оборудования в течение короткого времени.
                                    С нашим пониманием обслуживания, основанным на взаимодействии людей, процессов и продуктов, мы обеспечиваем доступность,
                                    эффективность и безопасность ваших лифтовых систем, эскалаторов, пассажирских конвейеров и инвалидных платформ. В центре нашего
                                    внимания всегда находится стремление построить взаимовыгодное, надежное и долгосрочное партнерство.
                                </p>
                            </div>                                                    
                            <div class="csc-default" id="c75759">
                                <h3>Преимущества сервисного обслуживания</h3>
                            </div>
                            <div class="csc-default" id="c75751">
                                <h3 style="color: rgb(120, 135, 155)"></h3>
                                <ul>
                                    <li>Высокая работоспособность Вашего лифтового и эскалаторного оборудования</li>
                                    <li>Индивидуальные концепции сервисного обслуживания для всех марок лифтового и эскалаторного оборудования</li>
                                    <li>Всегда рядом: Ваш личный менеджер проекта</li>
                                    <li>Широкий ассортимент запасных частей для лифтового и эскалаторного оборудования различных марок</li>
                                </ul>
                            </div>
                            <div class="csc-default" id="c75759">
                                <h3>Ремонт лифтов и эскалаторного оборудования</h3>
                            </div>
                            <div class="csc-default" id="c75751">
                                <h3 style="color: rgb(120, 135, 155)"></h3>
                                <p style="box-sizing: border-box; padding: 0px; color: rgb(75, 85, 100);">
                                    Качественный ремонт лифтового оборудования, лифтов, эскалаторов и конвейеров подразумевает прозрачность, гибкость и глубокие
                                    технические знания. Мы гарантируем высокую работоспособность Вашего лифтового и эскалаторного оборудования, быстрое устранение
                                    неисправностей и поставку качественных запасных частей.
                                </p>
                            </div>
                            <div class="csc-default" id="c75759">
                                <h3>
                                    Монтаж лифтов и эскалаторного оборудования
                                </h3>
                            </div>
                            <div class="csc-default" id="c75751">
                                <h3 style="color: rgb(120, 135, 155)"></h3>
                                <p style="box-sizing: border-box; padding: 0px; color: rgb(75, 85, 100);">
                                    Kraft Aufzuege Ukraine является поставщиком решений. От оценки потенциального трафика, до монтажа и технического обслуживания лифтового
                                    и эскалаторного оборудования - команда профессионалов стоит за каждым из проектов. Соответственно, наше управление проектом на стадии
                                    монтажа является ориентированным на клиента, надежным и активным.
                                    Монтаж лифтового оборудования мы произведем в строго в согласованные с клиентом сроки. Специалисты компании произведут все
                                    необходимые диагностические и пуско-наладочные работы, чтобы вы были в надежности и безопасности эксплуатируемого оборудования.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <ul class="subNav"></ul>
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default" id="c76882">
                        <div class="b_container-infobox">
                            <h2>Контакты</h2>
                            <div class="csc-default" id="c76878">
                                <div class="b_downloadlist">
                                    <ul class="b_iconList">
                                        <li>
                                            По всем вопросам<br>
                                            <h3>Т: +38 (044) 227-05-32</h3>
                                            <h4 style="color: #00a2f3;">sales@kraft-aufzuege.com</h4><br>
                                            Круглосуточный сервис<br>
                                            <h4 style="color: #00a2f3;">sales@kraft-aufzuege.com</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</main>