@{
    ViewData["Title"] = "Sonic";
}
<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement">
                                <h2>
                                    Лифт sonic
                                </h2>
                            </div>
                            <div class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/sonic/sonic-main.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h3 style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; font-size: 1.5em; line-height: 1.375em; color: rgb(120, 135, 155); font-family: tktype, Arial, Verdana, sans-serif; outline: none !important;"></h3>
                                <h3>
                                    Пассажирский лифт sonic является идеальным решением для установки в многофункциональные небоскребы,
                                    офисные и другие высотные здания, когда множество людей стремятся подняться на верхние этажи. И это является
                                    основным моментом с точки зрения конструкции и дизайна лифта. Особо привлекательный и торжественный внешний
                                    вид высотным зданиям придают панорамные лифты.
                                </h3>
                            </div>
                            <div class="csc-default">
                                <h2>Краткие характеристики</h2>
                                <div class="row b_row-multicolumn b_row-multicolumn-3">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <h2 class="small">370 m</h2>
                                            <p>Высота подъёма</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8">
                                        <div class="csc-default">
                                            <h2 class="small">8,5 m/s</h2>
                                            <p>Максимальная скорость</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h2 class="small">4.000 kg</h2>
                                            <p>
                                                Максимальная грузоподъёмность
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Области применения</h2>
                                <div id="apps">
                                    <div class="hotels"><span>Гостиницы</span></div>
                                    <div class="office"><span>Офисные здания</span></div>
                                </div>
                            </div>                          
                            <div class="csc-default">
                                <h2>Преимущества лифта sonic</h2>
                                <div class="panel-group b_collapsible bJS_collapsible" id="bJS_collapsible-89571">
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-1">Преимущества<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-1">
                                            <ul>
                                                <li>Технология идеально согласованная с высотными скоростными лифтами</li>
                                                <li>Идеально подходит для транспортировки на большие высоты</li>
                                                <li>Лучший эстетический вид</li>
                                                <li>Специальный аэродинамический обтекатель для высоких скоростей</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Технические характеристики</h2>
                                <div class="info">
                                    <table>
                                        <tbody>
                                            <tr class="head"><th>Грузоподъемность (кг)</th><th>630-1650</th><th>1600-2000</th></tr>
                                            <tr>
                                                <td>Скорость (м/с)</td>
                                                <td>2,0&nbsp;|&nbsp;2,5&nbsp;|&nbsp;3,0 | 3,5 | 4,0 | 4,5 | 5,0 | 6,0 | 7,0&nbsp;|&nbsp;8,0&nbsp;|&nbsp;8,5</td>
                                                <td>2,0&nbsp;|&nbsp;2,5&nbsp;|&nbsp;3,0 | 3,5 | 4,0 | 4,5 | 5,0 | 6,0 | 7,0&nbsp;|&nbsp;8,0&nbsp;|&nbsp;8,5</td>
                                            </tr>
                                            <tr>
                                                <td>Макс. высота подъема (м)</td>
                                                <td>370</td>
                                                <td>370</td>
                                            </tr>
                                            <tr>
                                                <td>Макс. количество остановок</td>
                                                <td>70</td>
                                                <td>70</td>
                                            </tr>
                                            <tr>
                                                <td>Проходная/непроходная кабина</td>
                                                <td>да/нет</td>
                                                <td>да/нет</td>
                                            </tr>
                                            <tr>
                                                <td>Машинное помещение:</td>
                                                <td>да</td>
                                                <td>да</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table>
                                        <tbody>
                                            <tr class="head"><th>Грузоподъемность (кг)</th><th>2001-2500</th><th>2501-3000</th><th>3001-4000</th></tr>
                                            <tr>
                                                <td>Скорость (м/с)</td>
                                                <td>2,0&nbsp;|&nbsp;2,5&nbsp;|&nbsp;3,0 | 3,5 | 4,0 | 4,5 | 5,0 | 6,0 | 7,0&nbsp;|&nbsp;8,0&nbsp;|&nbsp;8,5</td>
                                                <td>2,0&nbsp;|&nbsp;2,5 | 3,0 | 3,5&nbsp;|&nbsp;4,0</td>
                                                <td>2,0&nbsp;|&nbsp;2,5 | 3,0 | 3,5&nbsp;|&nbsp;4,0</td>
                                            </tr>
                                            <tr>
                                                <td>Макс. высота подъема (м)</td>
                                                <td>370</td>
                                                <td>250</td>
                                                <td>250</td>
                                            </tr>
                                            <tr>
                                                <td>Макс. количество остановок</td>
                                                <td>70</td>
                                                <td>60</td>
                                                <td>60</td>
                                            </tr>
                                            <tr>
                                                <td>Проходная/непроходная кабина</td>
                                                <td>да/нет</td>
                                                <td>да/нет</td>
                                                <td>да/нет</td>
                                            </tr>
                                            <tr>
                                                <td>Машинное помещение:</td>
                                                <td>да</td>
                                                <td>да</td>
                                                <td>да</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/synergy300/contact_teaser.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">Свяжитесь с консультантом по продажам в Вашем регионе</h3>
                                            <p>
                                                Мы также предлагаем комплексные услуги поддержки для частных клиентов, компаний и
                                                государственного сектора. Благодаря нашему многолетнему опыту в области лифтовых
                                                технологий, вы можете положиться на наш опыт.
                                            </p>
                                            <p><a target="_blank" class="internal-link" href="@Url.Action("Contact", "Home")">Свяжитесь с консультантом по продажам в вашем регионе сейчас!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <div class="subNavHeading">
                    В этом разделе
                </div>
                <ul class="subNav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy100">Synergy® 100</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy200">Synergy® 200</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy300">Synergy® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Evolution300">Evolution® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Twin">TWIN®</a>
                    </li>
                </ul>
                <div class="csc-default">
                    <h2>Видео</h2>
                    <div class="csc-default">
                        <div class="iframe-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/hRuZ6c78b0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <br>
                        <div class="iframe-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/tuwtHzu68w8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#top"></a>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    .info {
	margin: 0 0 1.875em;
	padding: 0.5em 0 1em;
    }

    .info table {
	    width: 100%;
	    margin: -2px 0 0;
	    color: #4b5564;
	    border-collapse: collapse;
	    border-top: 2px solid #08a0f0;
	    border-bottom: 2px solid #08a0f0;
    }
    .info tr {
	    border-bottom: 2px solid #d9dee8;
	    text-align: left;
    }
    .info tr.head {
	    color: #00a0f0;
	    border-top: 2px solid #08a0f0 !important;
	    border-bottom: 2px solid #08a0f0 !important;
	    text-align: left;
    }
    .info table tr:last-child {
	    border: 0;
    }
    .info td {
	    padding: 0.725em 1em;
	    text-align: center;
        font: normal 0.875em/1.325em Arial,Verdana,sans-serif;
	    vertical-align: top;
	    border-right: 1px solid #d9dee8;
    }

    .info table td:first-child {
        text-align: left !important;
	    border-left: 1px solid #d9dee8;
    }
    .info th {
        border-right: 1px solid #d9dee8;
	    padding: 1em;
	    text-align: center;
    }
    .info table th:first-child {
	    border-left: 1px solid #d9dee8;
	    text-align: left !important;
    }

    #apps {
	clear: both;
	margin: 1em 0 0.875em;
	text-align: center;
	overflow: hidden;
}
.hotels {
	background-image: url('../images/shared/hotel.png');
    background-repeat: no-repeat;
    background-size: 8.25em 8.25em;
}
.office {
	background-image: url('../images/shared/office.png');
    background-repeat: no-repeat;
    background-size: 8.25em 8.25em;
}
#apps div {
	position: relative;
	display: inline-block;
	width: 8.30em;
	height: 8.30em;
	margin: 0 1em 5em;
}
#apps div:hover {
	color: #33b3f7;
	text-decoration: underline;
	cursor: pointer;
}
#apps span {
    color: #00a0f0;
	position: absolute;
	left: 0px;
	right: 0px;
	height: 3em;
	bottom: -5em;
	margin: 0 auto;
	padding: 1em 0 0;
}
#apps div:hover span {
	color: #33b3f7;
	text-decoration: underline;
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
