@{
    ViewData["Title"] = "Synergy200";
}

<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">
            @*<div class="col-xs-24 hidden-print hidden-xs">
                <ul class="b_breadcrumb breadcrumb">
                    <li>
                        <a href="#">Главная</a>
                    </li>
                    <li>
                        <a href="#">Наши услуги и продукция</a>
                    </li>
                    <li>
                        <a href="#">Оборудование</a>
                    </li>
                    <li>
                        <a href="#">Лифты</a>
                    </li>
                    <li>
                        <a href="#">Пассажирские лифты</a>
                    </li>
                    <li class="b_active">Новое поколение synergy</li>
                </ul>
            </div>*@
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement">
                                <h2>
                                    synergy® 200<br>
                                    Стильные и флексибильный. Лифт для современной жилой архитектуры.
                                </h2>
                            </div>
                            <div class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/synergy200/main.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h3>
                                    Synergy 200 - это лифтовая система для современных жилых зданий с
                                    высокими требованиями к дизайну, производительности и технической
                                    адаптации. Истинный комфорт. Настоящий стиль.
                                </h3>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-3" id="b_89392">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default" id="c89389">
                                            <h2 class="small">60 м</h2>
                                            <p>
                                                Высота подъема
                                                до 21 остановки
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8">
                                        <div class="csc-default">
                                            <h2 class="small">1,75 м/c</h2>
                                            <p>Скорость до</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h2 class="small">320 до 1.000 кг</h2>
                                            <p>Грузоподъемность</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox b_container-highlightbox-inverse">
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default" id="c89379">
                                            <div class="row b_row-multicolumn b_row-multicolumn-3">
                                                <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">
                                                            Стиль и перфоманс
                                                        </h2>
                                                        <p>
                                                            Новейшие технологии основаны на
                                                            высококачественном сочетании
                                                            материалов и впечатляющем
                                                            разнообразии дизайна.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8">
                                                    <div class="csc-default">
                                                        <h2 class="small">Комфорт в изобилии</h2>
                                                        <p>
                                                            Наряду с приятным ощущением
                                                            поездки synergy 200 убеждает
                                                            простым управлением и высоким
                                                            качеством материалов.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">Интегрированная устойчивость</h2>
                                                        <p>
                                                            Пассажирский лифт synergy 200 набирает
                                                            баллы благодаря низкому энергопотреблению,
                                                            эффективной технологии и вторично
                                                            используемым материалам.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="panel-group b_collapsible bJS_collapsible" id="bJS_collapsible-89301">
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-1">Первоклассная надежность<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-1">
                                            <h4 class="b_collapsible-headline">
                                                Проверенные и протестированные компоненты, оптимизированные процессы проектирования и высококачественные материалы
                                                делают Synergy 200 удобным и надежным мобильным решением для жилых объектов.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-2">Больше гибкости<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-2">
                                            <h4 class="b_collapsible-headline">
                                                Самое простое решение - 40 предварительно настроенных конструкций кабины с линиями E и D. Вы также можете настроить
                                                Synergy 200 в соответствии с вашими индивидуальными потребностями - выбор за вами. Размер кабины регулируется с шагом
                                                10 мм.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-3">Быстрая транспортировка<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-3">
                                            <h4 class="b_collapsible-headline">
                                                1,0, 1,6 или 1,75 метр в секунду - выберите скорость, которая больше всего подходит Вашим пассажирам.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-4">Больше безопасности<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-4">
                                            <h4 class="b_collapsible-headline">
                                                Наши лифты Synergy отвечают повышенным требованиям безопасности согласно действующих стандартов EN 81-20 и EN 81-50,
                                                нашим собственным строгим стандартам безопасности, охраны здоровья и окружающей среды, а также международным
                                                стандартам ISO 9001 и 14001.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Дизайн</h2>
                                <p>
                                    Благодаря двум линиям дизайна D и E с 40 предварительно настроенными дизайнам кабин, Synergy 200 балует изысканностью и
                                    аутентичным стилем. Эстетика премиум-класса отвечает всем требованиям - ясным и минималистским, изысканным и роскошным или
                                    крутым и шикарным. Кроме того доступно выполнение заводом индивидуальных клиентских дизайнов а также возможность облицовки
                                    кабины (пол и стены) своими силами на месте. Также впечатляют стильные потолки с дополнительным непрямым освещением, равно как
                                    и приспособленные к оформлению элементы управления и индикации в кабине и на этажах.
                                </p>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox">
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">
                                                            Конфигуратор-онлайн линия дизайна E
                                                        </h3>
                                                        <p>
                                                            E-Дизайны отличаются свежими цветами и контрастной задней стенкой и
                                                            содержат 17 различных стандартных кабин из нержавеющей стали или
                                                            высококачественных ламинатов.
                                                        </p>
                                                        <p><a class="external-link-new-window" href="http://e-design-synergy.thyssenkrupp-elevator.com/" target="_blank" title="Opens external link in new window">Создайте свою кабину в дизайнере линии Е прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/synergy200/online_konfigurator_E.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Конфигуратор-онлайн линия дизайна D</h3>
                                                        <p>
                                                            23 варианта дизайна кабин линии D были вдохновлены высококачественной
                                                            архитектурой и поражают своей универсальностью. Микс материалов включает
                                                            несколько текстурных видов нержавеющей стали, эксклюзивных глянцевых
                                                            ламинатов и декоративного стекла.
                                                        </p>
                                                        <p><a class="external-link-new-window" href="http://d-design-synergy.thyssenkrupp-elevator.com/" target="_blank" title="Opens external link in new window">Создайте свою кабину в дизайнере линии D прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/synergy200/online_konfigurator_D.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/synergy200/elevator_planning.gif">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">synergy 200 инструмент планирования</h3>
                                            <p>
                                                Используйте максимально доступное пространство и определите подходящие
                                                размеры для нового synergy 200. Для новых установок вы можете выбрать
                                                минимально возможные размеры шахт для конкретного размера кабины. В
                                                проектах модернизации Вы можете оптимально настроить размер кабины к
                                                существующей шахте.
                                            </p>
                                            <p><a class="external-link-new-window" href="http://plan-synergy200.thyssenkrupp-elevator.com" target="_blank" title="Opens external link in new window">Запланируй свой synergy 200 прямо сейчас!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/synergy200/contact_conversation.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">Свяжитесь с консультантом по продажам в Вашем регионе</h3>
                                            <p>
                                                Мы также предлагаем комплексные услуги поддержки для частных клиентов, компаний и
                                                государственного сектора. Благодаря нашему многолетнему опыту в области лифтовых
                                                технологий, вы можете положиться на наш опыт.
                                            </p>
                                            @*<p><a class="internal-link" href="../../../ihr-ansprechpartner/index.html" title="Öffnet internen Link im aktuellen Fenster">Свяжитесь с консультантом по продажам в вашем районе прямо сейчас!</a></p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <div class="subNavHeading">
                    Больше информации
                </div>
                <ul class="subNav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy100">Synergy® 100</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy300">Synergy® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Evolution300">Evolution® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Sonic">Sonic®</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Twin">TWIN®</a>
                    </li>
                </ul>
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default">
                        <div class="b_container-infobox">
                            <h6>Загрузить</h6>
                            <div class="csc-default b_is-firstElement">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/synergy200/sub_nav_first.jpg">
                                    <p><a class="b_icon b_icon-download" href="~/files/synergy200/bu_ea_brochure_list_synergy_200_uk_en_181018_screen.pdf" target="_blank">synergy 200 Брошюра</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>