@{
    ViewData["Title"] = "Synergy100";
}

<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement" id="c75754">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/synergy100/element_overview_topbild_1350px.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c75759">
                                <h1>synergy® 100</h1>
                                <h2>Функциональный. Эффективный. Надёжный.</h2>
                            </div>
                            <div class="csc-default" id="c75751">
                                <h3 style="color: rgb(120, 135, 155)"></h3>
                                <p style="box-sizing: border-box; padding: 0px; color: rgb(75, 85, 100);">
                                    Идеальное решение для жилых зданий с функциональными требованиями к лифту: благодаря четкому и
                                    нейтральному дизайну, оптимизированному производству и эффективному монтажу, synergy 100 представляет
                                    собой наше лучшее соотношение цены и качества для серии Synergy.
                                </p>
                                <p style="box-sizing: border-box; padding: 0px; color: rgb(75, 85, 100);">
                                    Synergy 100 подходит для зданий до одиннадцати этажей. Благодаря компактному безредукторному синхронному
                                    приводу, управлению с частотным регулированием и энергоэффективными компонентами, такими как LED-
                                    освещение, достигается высокая эффективность. Среди доступных опций, кроме всего прочего, исполнение для
                                    доступа инвалидов и режим Standby, с которым достигается класс А энергопотребления.
                                </p>
                            </div>
                            <div class="csc-default" id="c76895">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img alt="" class="b_image" src="~/images/synergy100/trennstrich_topbild_1350x10.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c76817">
                                <div class="row b_row-multicolumn b_row-multicolumn-3" id="b_76817">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default" id="c76830">
                                            <h2>45 m</h2>
                                            <p>Высота подъема, до 11 остановок</p>
                                        </div>
                                        <div class="csc-default" id="c76815">
                                            <h2>Минус 45%</h2>
                                            <p>
                                                Меньше потребление
                                                электроэнергии по сравнению с
                                                лифтами редукторными приводами
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8">
                                        <div class="csc-default" id="c76831">
                                            <h2>1,0 m/s</h2>
                                            <p>Vmax</p>
                                        </div>
                                        <div class="csc-default" id="c76816">
                                            <h2>
                                                Экономия
                                                пространства
                                            </h2>
                                            <p>
                                                synergy 100 опционально доступен
                                                с уменьшенным верхним и нижним
                                                пространством шахты.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default" id="c76832">
                                            <h2>от 450 до 1.000 kg</h2>
                                            <p>Грузоподъемность</p>
                                        </div>
                                        <div class="csc-default" id="c76814">
                                            <h2>100% LED-техника</h2>
                                            <p>
                                                что на 56% меньше энергопотребления
                                                по сравнению с обычными лампами
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c76893">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img alt="" class="b_image" src="~/images/synergy100/trennstrich_topbild_1350x10.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c75684">
                                <h2>Дизайн</h2>
                                <p>
                                    synergy 100 убеждает четким и нейтральным дизайном. Предварительно сконфигурированные кабины делают его особенно привлекательным и доступным лифтом.
                                    Линия дизайна F предлагает широкий спектр ярких цветов для задней стены, чтобы создать отличный стиль. Это дает Вам выбор между современной дизайнерской
                                    линией Skinplate или классической версией из нержавеющей стали. Все поверхности обеспечивают длительный срок службы. Панель управления и индикации из
                                    стекла или нержавеющей стали делает привлекательный дизайн синергии 100 чем-то особенным.В общей сложности доступно 8 кабин.<b>Designlinie F</b> verbinden zeitlose, klare Designs mit robusten Materialien. Insgesamt 8 Kabinendesigns stehen zur Auswahl.&nbsp;
                                </p>
                                <p></p>
                                <p></p>
                            </div>
                            <div class="csc-default" id="c76864">
                                <div class="row b_row-multicolumn b_row-multicolumn-21" id="b_76864">
                                    <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                        <div class="csc-default" id="c76861">
                                            <div class="b_imageGallery b_imageGalleryLayout1 bJS_imageGalleryPopup bJS_gallery">
                                                <div class="bJS_imageGalleryLayout1">
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_FULLINOX_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F10</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_FULLINOXLINEN_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F11</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_CITRUS_LED.jpg" >
                                                                <div class="b_imageTitle">
                                                                    <h2>F01</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_AQUA_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F02</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" data-image="bJS_image32934" data-imagegroup="bJS_imageGroup76861" data-imgsrc="/fileadmin/at/Facelift_Imagery/element_vistCOP_OLIVE_LED.jpg" href="~/images/synergy100/element_vistCOP_OLIVE_LED.jpg">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_OLIVE_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F03</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_SEED_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F04</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_QUARK_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F05</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner">
                                                                <img class="b_image b_portrait" src="~/images/synergy100/element_vistCOP_INOX_LED.jpg">
                                                                <div class="b_imageTitle">
                                                                    <h2>F06</h2>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default" id="c76862">
                                            <h3 class="b_blue">Дизайн кабин.</h3>
                                            <p>
                                                Кабины с прочными, ламинированными
                                                стальными панелями (F01 до F06) -
                                                комбинация цветных и нейтральных
                                                сдержанных тонов стен передают
                                                комфортное ощущение пространства.
                                                Кабины из нержавеющей стали
                                                (F10 и F11) - это мировая классика лифтов.
                                                Их простую элегантность можно связать
                                                практически с любым стилем здания.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default" id="c75658">
                                <div class="row b_row-multicolumn b_row-multicolumn-21" id="b_75658">
                                    <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                        <div class="csc-default" id="c75657">
                                            <h3 class="b_blue">Панели управления, индикация и др.</h3>
                                            <p>
                                                Сочетание максимальной функциональности и чистого дизайн также находит
                                                свое отражение в элементах управления и индикации в кабине и на этажах.
                                            </p>
                                            <p>
                                                Панели управления Moon с поверхностью из нержавеющей стали или
                                                закаленного белого стекла обращают пристальное внимание в кабине
                                                synergy 100. Дизайн подчеркивает функциональность и тактильные качества.
                                                Кнопки «Dot Button» имеют практичный понятный дизайн с тактильными
                                                качествами поверхности из нержавеющей стали.
                                            </p>
                                            <p>
                                                В дополнение к проверенной стандартной комбинации этажной кнопочной
                                                панели управления и отдельно расположенной индикации также доступны
                                                комбинированные элементы управления и индикации в одном корпусе.
                                            </p>
                                            <p></p>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default" id="c75656">
                                            <div class="b_imageGallery b_imageGalleryLayout1 bJS_imageGalleryPopup bJS_gallery">
                                                <div class="bJS_imageGalleryLayout1">
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/MOON_LIOP_Inox.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/MOON_LIOP_white.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_landscape" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_landscape" src="~/images/synergy100/element_taster.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/lop1.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/lop2.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/lop3.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_portrait" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_portrait" src="~/images/synergy100/lop4.jpg"></div>
                                                        </a>
                                                    </div>
                                                    <div class="b_imageGalleryItem">
                                                        <a class="bJS_popupImage b_landscape" href="#">
                                                            <div class="b_imageGalleryItem-inner"><img class="b_image b_landscape"src="~/images/synergy100/lip.jpg"></div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">               
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default" id="c76882">
                        <div class="b_container-infobox">
                            <h5>Больше информации</h5>
                            <ul class="subNav">
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Synergy200">Synergy® 200</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Synergy300">Synergy® 300</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Evolution300">Evolution® 300</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Sonic">Sonic®</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Home" asp-action="Twin">TWIN®</a>
                                </li>
                            </ul>
                            <div class="csc-default b_is-firstElement" id="c76877">
                                <div class="b_marginalImage">
                                    <h6>Загрузить</h6><img class="b_image" src="~/images/synergy100/csm_element_brochure_813abd5e7a.jpg">
                                </div>
                            </div>
                            <div class="csc-default" id="c76878">
                                <div class="b_downloadlist">
                                    <ul class="b_iconList">
                                        <li>
                                            Брошюра synergy 100<br>
                                            <a class="b_icon b_icon-download" href="~/files/synergy100/tkE_synergy100_Broschuere_v012019.pdf" target="_blank">Download</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="csc-default" id="c76879">
                                <div class="b_marginalImage">
                                    <h6>Конфигуратор кабины Online</h6><img class="b_image" src="~/images/synergy100/csm_button_cabinconfig_element_5dce92ab79.jpg">
                                </div>
                            </div>
                            <div class="csc-default" id="c76880">
                                <div class="b_linklist">
                                    <ul class="b_iconList">
                                        <li>
                                            <a class="b_icon b_icon-arrowBox" href="https://f-design-synergy.thyssenkrupp-elevator.com/" target="_blank">synergy 100 Cabin Designer</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</main>