@{
    ViewData["Title"] = "Synergy300";
}
<main id="b_mainContent" role="main">
    <div class="container b_container-mainContent">
        <div class="row">            
            <div class="col-md-17 col-xs-24">
                <div class="b_content b_content-mainContent">
                    <div class="row b_row-content">
                        <div class="col-xs-24">
                            <div class="csc-default b_is-firstElement">
                                <h2>
                                    synergy® 300<br>
                                    Универсальный и умный для коммерческой недвижимости, офисов и отелей.
                                </h2>
                            </div>
                            <div class="csc-default">
                                <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                    <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                        <div class="csc-textpic-center-outer">
                                            <div class="csc-textpic-center-inner">
                                                <figure class="csc-textpic-image csc-textpic-last">
                                                    <img class="b_image" src="~/images/synergy300/main_synergy300.jpg">
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h3 style="box-sizing: border-box; margin-top: 0px; margin-bottom: 16px; font-size: 1.5em; line-height: 1.375em; color: rgb(120, 135, 155); font-family: tktype, Arial, Verdana, sans-serif; outline: none !important;"></h3>
                                <h3>
                                    synergy 300 - правильное решение, когда требуется компактная и мощная
                                    лифтовая система с высокой конструктивной вариативностью. Идеальный
                                    выбор для офисных зданий среднего сегмента, отелей и коммерческих
                                    объектов, таких как региональные торговые центры.
                                </h3>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-3">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <h2 class="small">60 m</h2>
                                            <p>Высота подъёма</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8">
                                        <div class="csc-default">
                                            <h2 class="small">1,75 m/s</h2>
                                            <p>Максимальная скорость</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h2 class="small">1.000 kg</h2>
                                            <p>
                                                Максимальная грузоподъёмность
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox b_container-highlightbox-inverse">
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-3">
                                                <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">
                                                            Максимальная грузоподъёмность
                                                        </h2>
                                                        <p>
                                                            Сделайте Synergy 300
                                                            неотъемлемой частью архитектуры
                                                            вашего здания - с уникальными,
                                                            эксклюзивными и особенными
                                                            дизайнами кабин.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8">
                                                    <div class="csc-default">
                                                        <h2 class="small"> Максимальная надежность</h2>
                                                        <p>
                                                            Проверенные компоненты и
                                                            высококачественные материалы
                                                            делают Synergy 300 синонимом
                                                            долговечности, как необходимость
                                                            при коммерческой эксплуатации.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <h2 class="small">Гибкие размеры</h2>
                                                        <p>
                                                            Помимо стандартных размеров,
                                                            которые также включают кабину 825
                                                            кг, размеры кабины Synergy 300
                                                            можно регулировать с шагом 10
                                                            миллиметров.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="panel-group b_collapsible bJS_collapsible" id="bJS_collapsible-89571">
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-1">Производительность адаптирована к требовательным эксплуатационным задачам<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-1">
                                            <h4 class="b_collapsible-headline">
                                                Благодаря мощному безредукторному приводу и высококачественным дверям Synergy 300 идеально подходит для зданий со
                                                средним пассажиропотоком.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-2">Высокие потенциалы для эффективности и адаптивности<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-2">
                                            <h4 class="b_collapsible-headline">
                                                Наряду с имеющимися в распоряжении стандартными габаритами кабин Вы можете приспосабливать величину
                                                кабин под размеры шахт с шагом 10 мм, чтобы оптимально использовать имеющееся в распоряжении пространство.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-3">Индивидуальный дизайн, который соответствует потребностям вашего бизнеса<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-3">
                                            <h4 class="b_collapsible-headline">
                                                Выберите один из предложенных 55 вариантов дизайна кабины линий A и B. Высококачественные материалы, такие
                                                как нержавеющая сталь, глянцевые ламинаты или стекло, создают уникальную атмосферу в каждой кабине Synergy
                                                300. Так же возможно выполнить дополнительный индивидуальный дизайн на заводе или выполнить внутреннюю
                                                отделку кабины (стены и пол) локально.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-4">Безредукторный привод<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-4">
                                            <h4 class="b_collapsible-headline">
                                                Постоянная производительность, высокая эффективность, низкое энергопотребление и отсутствие дополнительных
                                                смазочных материалов. С Synergy 300 вы выбираете лифт с улучшенными характеристиками, который будет
                                                соответствовать пассажиропотоку в вашем здании.
                                            v</h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-5">Мощные двери<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-5">
                                            <h4 class="b_collapsible-headline">
                                                Для synergy 300 существуют разные двери: боковое телескопическое открывание с 2 или 3 дверными створками,
                                                центральное открывание с 2 или 4 дверными створками и широкий диапазон размеров и оснащения (например, стеклянные
                                                двери). Скорость открытия и закрытия дверей может быть адаптирована к количеству пассажиров в здании.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="csc-default">
                                        <h4 class="b_collapsible-headline"><a class="b_collapsible-item bJS_collapsible-item collapsed" data-toggle="collapse" href="#collapse-6">Управление<i class="b_icon iconPlus b_is-visibleClosed"></i><i class="b_icon iconMinus b_is-visibleOpen"></i></a></h4>
                                        <div class="collapse" id="collapse-6">
                                            <h4 class="b_collapsible-headline">
                                                CMC4 + 20/50 - это контроллер с низким энергопотреблением, который обеспечивает надежную и безопасную работу лифта
                                                и адаптируется к пассажиропотоку.
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <h2>Дизайн</h2>
                                <p>
                                    Обе линии дизайна A и B с их высококачественным сочетанием материалов, а также наши дополнительные опции настройки предлагают,
                                    казалось бы, бесконечный выбор. От нержавеющей стали до высококачественных ламинатов или до кабин с панорамным стеклом - выбор
                                    за вами.
                                </p>
                            </div>
                            <div class="csc-default">
                                <div class="b_container-highlightbox">
                                    <div class="b_highlightbox-wrap">
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Конфигуратор-онлайн линия дизайна A</h3>
                                                        <p>
                                                            Эксклюзивность и элегантность характеризуют 24 готовых дизайна салона дизайнерской
                                                            линии A. Стильные стеклянные панели и структурные поверхности создают
                                                            индивидуальную атмосферу.
                                                        </p>
                                                        <p><a class="external-link-new-window" href="http://a-design-synergy.thyssenkrupp-elevator.com/" target="_blank">Создайте свою кабину в дизайнере линии А прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img class="b_image" src="~/images/synergy300/design-line-A.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="csc-default">
                                            <div class="row b_row-multicolumn b_row-multicolumn-21">
                                                <div class="col-xs-24 col-sm-16 b_is-firstColumn">
                                                    <div class="csc-default">
                                                        <h3 class="b_blue">Конфигуратор-онлайн линия дизайна B</h3>
                                                        <p>
                                                            Поверхности из нержавеющей стали и высококачественные ламинаты определяют
                                                            сочетание материалов в 31 заранее заданном дизайне кабины линии дизайна B. Здесь вы
                                                            найдете вариант для любого применения.
                                                        </p>
                                                        <p></p>
                                                        <p><a class="external-link-new-window" href="http://b-design-synergy.thyssenkrupp-elevator.com/" target="_blank">Создайте свою кабину в дизайнере линии В прямо сейчас!</a></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-24 col-sm-8 b_is-lastColumn">
                                                    <div class="csc-default">
                                                        <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                            <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                                <div class="csc-textpic-center-outer">
                                                                    <div class="csc-textpic-center-inner">
                                                                        <figure class="csc-textpic-image csc-textpic-last">
                                                                            <img alt="" class="b_image" src="~/images/synergy300/design-line-B.jpg">
                                                                        </figure>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/synergy300/elevator_planning-tool.gif">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">synergy 300 инструмент планирования</h3>
                                            <p>
                                                С нашим инструментом цифрового планирования вы найдете соответствующие размеры
                                                шахты для желаемого размера кабины - или соответствующую кабину к Вашей шахте.
                                            </p>
                                            <p><a class="external-link-new-window" href="http://plan-synergy300.thyssenkrupp-elevator.com" target="_blank">Запланируй свой synergy 300 прямо сейчас!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="row b_row-multicolumn b_row-multicolumn-12">
                                    <div class="col-xs-24 col-sm-8 b_is-firstColumn">
                                        <div class="csc-default">
                                            <div class="csc-textpic csc-textpic-center csc-textpic-above">
                                                <div class="csc-textpic-imagewrap" data-csc-cols="2" data-csc-images="1">
                                                    <div class="csc-textpic-center-outer">
                                                        <div class="csc-textpic-center-inner">
                                                            <figure class="csc-textpic-image csc-textpic-last">
                                                                <img class="b_image" src="~/images/synergy300/contact_teaser.jpg">
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-24 col-sm-16 b_is-lastColumn">
                                        <div class="csc-default">
                                            <h3 class="b_blue">Свяжитесь с консультантом по продажам в Вашем регионе</h3>
                                            <p>
                                                Мы также предлагаем комплексные услуги поддержки для частных клиентов, компаний и
                                                государственного сектора. Благодаря нашему многолетнему опыту в области лифтовых
                                                технологий, вы можете положиться на наш опыт.
                                            </p>
                                            @*<p><a class="internal-link" href="#"></a></p>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 col-xs-24 b_print-noLinks">
                <div class="subNavHeading">
                    В этом разделе
                </div>
                <ul class="subNav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy100">Synergy® 100</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Synergy200">Synergy® 200</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Evolution300">Evolution® 300</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Sonic">Sonic®</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Twin">TWIN®</a>
                    </li>
                </ul>
                <div class="b_content b_content-marginalContent">
                    <div class="csc-default">
                        <div class="b_container-infobox">
                            <h5>Загрузки</h5>
                            <div class="csc-default b_is-firstElement">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/synergy300/sub_nav_broschuere.jpg">
                                    <p><a class="b_icon b_icon-download" href="~/files/synergy300/brochure_list_synergy_300.pdf" target="_blank">Брошюра synergy 300</a></p>
                                </div>
                            </div>
                            <div class="csc-default">
                                <div class="b_marginalImage">
                                    <img class="b_image" src="~/images/synergy300/sub_nav_designbook.jpg">
                                    <p><a class="b_icon b_icon-download" href="~/files/synergy300/BU_EA_Designbook.pdf" target="_blank">Каталог дизайнов кабин</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 hidden-print hidden-xs">
                <div class="b_toTop">
                    <a class="b_link-black" href="#top"></a>
                </div>
            </div>
        </div>
    </div>
</main>
