<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="JXo4vX34vR196HBu49PTJUJ50oT-I-oi7BBFN9PJt00" />
    <title>@ViewData["Title"] - Kraftaufzuege</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/default.css" />
        <link rel="stylesheet" href="~/css/p.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" rel="stylesheet" type="text/css">
        <script src="~/js/default.js" asp-append-version="true"></script>
        <script src="~/js/p.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/default.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/p.css" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
</head>
<body class="pJS_home" id="local1855">
    <header id="b_header">
        <div class="container b_print-noLinks" id="headerTop">
            <div id="headerTopInner">
                <div class="b_logo-wrapper">
                    <a asp-area="" asp-controller="Home" asp-action="Index"><span id="headerLogo">thyssenkrupp</span> <span class="hidden-tn" id="headerClaim">engineering. tomorrow. together.</span></a>
                </div>
                <div class="brand">
                    <p class="roof-line">Elevator Technology</p>
                    <p class="brand-name">Ukraine</p>
                </div>
                <div id="headerNav">
                    <ul class="hidden-print" id="headerMetaNav"></ul>
                    <div class="b_languageSwitch bJS_switch hidden-print">
                        <div class="b_countryActive">
                            Ukraine<i class="b_iconArrowIndicator b_icon b_icon-arrowDown-subnavigation"></i>
                        </div>
                        <ul class="b_menu bJS_languageMenu">
                            <li class="b_active">
                                <a href="#">Languege</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="search-toggle"></div> -->
                <div class="menu-toggle"></div>
            </div>
        </div>
        <partial name="Menu" />
        @*<div id="searchWrap">
        <div class="b_headerSearch container">
            <a class="close"></a>
            <div class="tx-kesearch-pi1">
                <form action="https://www.thyssenkrupp-aufzuege.at/suche/" class="static b_searchForm form-inline" id="searchform" method="get" name="searchform" role="form">*@
        <!--<input type="hidden" name="id" value="1873" />-->
        @*<div class="input-group">
                        <div class="input-group-addon">
                            <i class="b_icon-search"></i>
                        </div><input class="form-control b_inputTransparent b_noFocus" id="ke_search_sword" name="sword" placeholder="Suchbegriff eingeben" type="text" value="">
                    </div>
                    <button class="submitbutt" type="submit"><i class="b_icon-arrowTeaser"></i></button>
                </form>
            </div>
        </div>*@
        @*</div>*@
    </header>

    @*<partial name="_CookieConsentPartial" />*@

    @*<div class="container body-content">*@
    @RenderBody()
    @RenderSection("Styles", false)
    <hr />
    <partial name="Footer" />
    @*</div>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@

    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>*@
        <script src="~/js/default.js" asp-append-version="true"></script>
        <script src="~/js/p.js" asp-append-version="true"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
